/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 50px;
  height: var(--header-height);
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

header.sticky {
  background: rgba(255, 255, 255, 1);
}

header:hover {
  background: rgba(255, 255, 255, 1);
}

.logo {
  flex: 1;
}

.menu {
  flex: 3;
  display: flex;
}

.menu > li {
  position: relative;
  padding: 0 12px;
}

.menu > li:hover .submenu {
  top: 45px;
  visibility: visible;
}

.submenu {
  position: absolute;
  top: 60px;
  z-index: 1;

  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  background: #fff;

  transition: 0.3s;
  visibility: hidden;
}

.submenu ul {
  padding-left: 20px;
}

.submenu li a {
  font-weight: normal;
  font-size: 12px;
}

.menu > li > a {
  display: block;

  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.others {
  display: flex;
  flex: 1;
}

.others > li {
  position: relative;
  padding: 0 12px;
}

.others > li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 1px;
  height: 50%;
  background: #dddd;
  transform: translateY(-50%);
}

.others > li:last-child::after {
  display: none;
}

.other > li:first-child {
  position: relative;
}

.others > li:first-child input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  outline: none;
}

.others > li:first-child button {
  position: absolute;
  right: 14px;
  bottom: 5px;

  font-size: 12px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

/* Slider */
#slider {
  margin-top: var(--header-height);
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
}

.slider {
  overflow: hidden;
}

/* Content */
.container {
  width: 85%;
  margin: auto;
}

#button-filters {
  margin: 0 26px;
}

.content-image {
  width: 100%;
}

/* Footer */
#footer {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  height: var(--footer-height);
}

.footer-container {
  width: 95%;
  margin: auto;
}

.flex-container {
  display: flex;
  flex: 5;

  margin-top: 40px;
}

.footer-info,
.footer-intro,
.footer-service,
.footer-contact,
.footer-mail {
  flex: 1;
}

.logo-info {
  display: flex;
}

.logo-img {
  width: 82px;
  margin: 0 4px;
}

.info-shop > p {
  font-size: 15px;
  line-height: 24px;
  color: #57585a;
  margin-bottom: 16px;
  display: block;
}

.info-shop > p:first-child {
  margin-top: 8px;
}

.list-social {
  display: flex;
}

.footer-intro,
.title-intro {
  text-align: center;
}

.title-intro,
.title-service,
.title-contact {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #221f20;
  margin-bottom: 20px;
}

.link-intro,
.link-service,
.link-contact {
  font-size: 14px;
  line-height: 24px;
  color: #57585a;
  margin-bottom: 16px;
  display: block;
}

.mail-container {
  border: 4px solid #e7e8e9;
  padding: 24px 12px;
  background: #ffffff;
  border-radius: 56px 0px;
  margin-bottom: 32px;
}

.title-mail {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #221f20;
}

.mail-form {
  display: flex;
  justify-content: space-between;
}

.mail-form > input {
  width: 63%;
  margin-right: 0;
  padding-left: 0;

  border: 0;
  border-bottom: 1px solid #bcbdc0;
  color: #221f20;
}

.form-submit {
  font-size: 14px;
  padding: 6px 10px;
  width: 100%;

  background: #fff;
  border: 1px solid #221f20;
  box-sizing: border-box;
  border-radius: 24px 0px;
  margin-right: 0;
  margin-left: 5px;
  cursor: pointer;
  line-height: 20px;
  color: #221f20;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
}

.form-submit:hover {
  background-color: #000;
  color: #fff;
}

.dowload-mail {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  margin-top: 24px;

  font-size: 16px;
  line-height: 50px;
  color: #57585a;
}

/* Product */
.container-product {
  width: 92%;
  margin: auto;
  margin-top: var(--header-height);
}

/* Breadcrumbs */
ul.breadcrumb {
  padding: 10px 12px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: darkgray;
  text-decoration: none;
  font-size: 16px;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
}

/* Zoom image */
.zoom-img {
    width: 400px;
}

figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 500px;
    overflow: hidden;
    cursor: zoom-in;
}

figure.zoom img:hover {
    opacity: 0;
}

figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}

.zoom-product {
    margin-top: 5px;
}

/* Details product */
.product-content {
    display: flex;
}

.details-product {
    width: 100%;
    margin-left: 100px;
}

.details-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #221f20;
}

.details-price {
    font-size: 24px; 
}

.details-color {
    font-size: 18px;
}

.details-price,
.details-color
{
    margin-top: 24px;
    font-weight: 700;
}

.details-size {
    display: flex;

    margin-top: 18px;
}

.details-size > li {
    margin: 0 12px;
    padding: 6px 12px;
    border: 1px solid #000;
}

.details-size > li:first-child {
    margin-left: 0;
}

.details-cal {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.details-number {
    margin-right: 8px;
}

.minus,
.sub
{
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.qty {
    width: 60px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
}

.details-btn {
    margin-top: 16px;
}

.btn-cart {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.details-info {
    margin-top: 15px;
}
